* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;

}
body {
  color: aliceblue;
  background: black;

}
.label {
  display: inline-block;
  width: 140px;   
  font-weight: 600;
}

.value {
  color: #e6e9f0;
}
.highlight {
  font-weight: bold;
}

.paper {
  text-indent: 2em;
  line-height: 1.3;
  text-align: justify;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 3%;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}
.logo {
  position: relative;
  font-size:  25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;

}
.navbar a {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 50px;
  transition: 0.3s;
}
.navbar a:hover {
  transform: translateY(-6px);
  color: #0ef;
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(duttawan.PNG) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 3s ease forwards;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home2 {
  margin: 0;
  background: url(star.png);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  font-family: system-ui;
}
.home3 {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 200vh;
  background: url(galaxy3.1.png) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 3s ease forwards;
  display: flex;
  align-items: flex-start;
  padding: 100px;
  
}
.home4 {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(galaxy2.png) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 3s ease forwards;
  display:inline-block;
  align-items: center;
  padding: 70px 10% 0;
}
.home5 {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(galaxy3.png) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 3s ease forwards;
  display: inline-block;
  align-items: center;
  padding: 70px 10% 0;
}
.home6 {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(galaxy6.png) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 3s ease forwards;
  display: inline-block;
  align-items: center;
  padding: 70px 10% 0;
}
.home7 {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: black;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 3s ease forwards;
  display: inline-block;
  align-items: center;
  padding: 70px 10% 0;
}
.home8 {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(galaxy4.1.png) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 3s ease forwards;
  display: inline-block;
  align-items: center;
  padding: 70px 10% 0;
}
.home9 {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(inthome1.PNG) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 3s ease forwards;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home10 {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(inthome2.PNG) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 3s ease forwards;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home11 {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(inthome3.PNG) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 3s ease forwards;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home12 {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(inthome4.PNG) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fade 3s ease forwards;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home13 {
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;   /* กลางแนวนอน */
  align-items: center;       /* กลางแนวตั้ง */

  background: black;
  animation: fade 3s ease forwards;

  padding-top: 70px; /* เผื่อ navbar อย่างเดียว */
}

.home-contact2 {
  padding-left: 500px;
}

.home-contact {
  max-width: 600px;
}

.home-contact h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-contact h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-contact p {
  font-size: 20px;
  font-weight: 700;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-contact2 h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-contact2 h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-contact2 p {
  font-size: 20px;
  font-weight: 700;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.rainbow-text {
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(90deg, #00f, #0ff, #66f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rainbow-text2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(90deg, #00f, #0ff, #66f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: cyan;
  border-radius: 40px;
  font-size: 10px;
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan;
}
.btn-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 5px cyan,
  0 0 25px, 0 0 50px cyan,
  0 0 100px cyan, 0 0 250px cyan; 
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-img img {
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}
.about-text h2 {
  font-size: 60px;
}
.about-text span {
  color: cyan;
}
.section {
  margin-top: 0;
}
.section-title {
  margin-bottom: 10px; /* ระยะห่างระหว่างหัวข้อกับการ์ด */
  font-size: 30px;
  font-weight: bold;
}
.card-group {
  display: flex;
  gap: 90px;

  justify-content: center; /* กลางแนวนอน */
  align-content: center;   /* กลางแนวตั้ง (ถ้ามีหลายแถว) */

  width: 100%;
}
.card {
  width: 400px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
  
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: 0.5s;
}
.card .layer {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  opacity: 0;
  transition: 0.3s;
}
.card .info {
  position: absolute;
  bottom:  -50%;
  padding: 15px;
  opacity: 0;
  transition: 0.5s bottom, 1.75s opacity;
}
.info p {
  font-size: 14px;
  margin-top: 3px;
}
.info button {
  background: #490ccc;
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 8px;
}
.card:hover,
.card:hover img,
.card:hover layer {
  transform: scale(1.1);
}
.card:hover > .layer {
  opacity: 1;
}
.card:hover > .info {
  bottom: 0;
  opacity: 1;
}
.card-group:hover > .card:not(:hover) {
  filter: blur(5px);
}
.box-group {
  display: flex;
  flex-direction: column;
  row-gap: 25px
  
}
.box {
  width: 1020px;
  height: 260px;
  padding: 24px;
  background: rgba(20, 25, 45, 0.7);
  color: #e6e9f0;
  border: 1px solid rgba(120, 140, 255, 0.4);
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 25px;
  
  
  flex-direction: column;
  align-items: center;

  transition: width 0.6s ease;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(122, 92, 255, 0.25);
  backdrop-filter: blur(10px);
}
.box h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(90deg, #00f, #0ff, #66f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box p {
  font-family: 'poppins', sans-serif;
  font-size: 18px;
  letter-spacing: 0.07em;
  margin: 18px 0;
}

.text-box {
  width: 1080px;
  height: 1480px;
  margin: 0 auto 30px; /* กึ่งกลาง + เว้นด้านล่าง */
  padding: 20px;
  background: #0b0f1a;   /* น้ำเงินดำ */
  color: #e6e9f0;        /* ขาวอมฟ้า */
  border: 1px solid #1f2a44;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.text-box h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

.text-box p {
  margin: 0;
  font-size: 16px;
  color: #444;
}

.edu-group {
  display: flex;
  gap: 30px;

  justify-content: center; /* กลางแนวนอน */
  align-content: center;   /* กลางแนวตั้ง (ถ้ามีหลายแถว) */

  width: 100%;
}
.edu-box {
  width: 400px;   /* จาก 225 → 260 */
  height: 400px;  /* ปรับให้สมส่วน */
  border: 5px solid rgb(20, 218, 232);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.edu-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: 0.5s;
}
.edu-box .layer {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  opacity: 0;
  transition: 0.3s;
}
.edu-box .info {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  padding: 20px;

  opacity: 0;
  z-index: 2;
  transition: 0.4s;
}
.edu-box p {
  font-size: 14px;
  margin-top: 3px;
}
.edu-box button {
  background: #490ccc;
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 8px;
}
.edu-box:hover,
.edu-box:hover img,
.edu-box:hover layer {
  transform: scale(1.1);
}
.edu-box:hover > .layer {
  opacity: 1;
}
.edu-box:hover > .info {
  bottom: 0;
  opacity: 1;
}
.edu-group:hover > .card:not(:hover) {
  filter: blur(5px);
}
.edu-box .title {
  font-size: 36px;        /* คำใหญ่ชัด */
  font-weight: 700;
  margin-bottom: 10px;

  transform: translateY(20px);
  opacity: 0;
  transition: 0.4s ease;
}
.edu-box:hover .title {
  transform: translateY(0);
  opacity: 1;
}

.act-box {
  width: 400px;
  height: 400px;
  padding: 24px;
  background: rgba(20, 25, 45, 0.7);
  color: #e6e9f0;
  border: 1px solid rgba(120, 140, 255, 0.4);
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 25px;
  
  
  flex-direction: column;
  align-items: center;

  transition: width 0.6s ease;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(122, 92, 255, 0.25);
  backdrop-filter: blur(10px);
}
.act-box h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(90deg, #00f, #0ff, #66f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.act-box p {
  font-family: 'poppins', sans-serif;
  font-size: 18px;
  letter-spacing: 0.07em;
  margin: 18px 0;
}
.con-box-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 คอลัมน์ */
  gap: 10px;
  margin: 0 auto; /* อยู่กลางหน้า */

  
}
.con-box {
  width: 400px;
  height: 200px;
  padding: 24px;
  background: rgba(20, 25, 45, 0.7);
  color: #e6e9f0;
  border: 1px solid rgba(120, 140, 255, 0.4);
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 25px;
  
  
  flex-direction: column;
  align-items: center;

  transition: width 0.6s ease;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(122, 92, 255, 0.25);
  backdrop-filter: blur(10px);
}
.con-box h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(90deg, #00f, #0ff, #66f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.con-box p {
  font-family: 'poppins', sans-serif;
  font-size: 18px;
  letter-spacing: 0.07em;
  margin: 18px 0;
  text-align: center;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    transform: translate(0);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.slider {
  width: 800px;
  height: 400px;
  overflow: hidden;
  border-radius: 12px;
  opacity: 0;
  animation: fade 2s ease forwards;
}

.slides {
  display: flex;
  width: 300%;
  transition: transform 0.6s ease-in-out;
}

.slides img {
  width: 800px;
  height: 400px;
  object-fit: cover;
  opacity: 0;
  animation: fade 3s ease forwards;
}

